* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA; /* Fundo roxo claro (Lavanda) */
    color: #333;
}

header {
    background-color: #9370DB; /* Roxo claro mais escuro */
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    background-color: #7B68EE; /* Roxo médio */
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #6A5ACD; /* Cor ao passar o mouse */
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #9370DB; /* Roxo claro mais escuro */
    padding: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

main {
    padding: 20px;
}

h2, h3 {
    color: #7B68EE; /* Roxo médio */
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

footer {
    background-color: #9370DB; /* Roxo claro mais escuro */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

